*.o
*.lo
*.a
*.so
*.swp
*.patch
*.dylib
.DS_Store
xcuserdata
*.pbxuser
*.xcuserstate
tags
!/deps/README.md
/deps/**
/build/_dist
/build/_build
DerivedData
build/.android-toolchain
.compile_status
.config_status
.install_status
.source_status

/src/core/orchid/elacp_generated.h
/apps/shell/elashell
/apps/pfd/elapfd

/tests/api/api_tests
/tests/unit/unit_tests
/tests/pseudotcp/test-pseudotcp
/tests/pseudotcp/test-pseudotcp-fin
